#fellowship-board {
	top: 400px;
	left: 400px;
	/*margin-top: -50px;
	margin-left:-50px;*/
	position: absolute;
}

.fellowship {
	height: 100px;
	width: 100px;
	position: relative;
	border-radius: 20%;
	background-color: transparent;
	background-size: cover;
	background-position: center;
	border: 0px;
	float:left;
	display: inline-block;
}
	

#frodo {
	background-image: url('../images/frodo.png');
}

#gandalf {
	background-image: url('../images/gandalf_cartoon.png');
}


.orc {
	top: 100px;
	left: 100px;
	height: 100px;
	width: 100px;
	border-radius: 50%;
	position: absolute;
	background-color: black;
}

#game-board {
	height: 500px;
	width: 1000px;
}