@font-face {
font-family: 'First Order';
font-style: normal;
font-weight: normal;
src: url('../assets/first-order/firstv2.woff') format('woff');
}

@font-face {
font-family: 'First Order Plain';
font-style: normal;
font-weight: normal;
src: url('../assets/first-order/Firstv2p.woff') format('woff');
}

#alert-board h1 {
	font-family: 'First Order';
	font-size: 3em;
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
}

#alert-board h2 {
	font-family: 'First Order Plain';
	font-size: 1.5em;
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
}

/*. {
  animation-name: slideInDown;
  animation:
}*/

.btn-container {
	align-items: center;
	margin: 10px;
}

header h2 span {
	color: gold;
}

table.play {
  margin: 0 auto;
  border: 0;

  background-color: transparent;
  background-image: url('../assets/images/map_opacity40.jpg');
  background-size: cover;
  background-position: center;
}

td {
  width: 80px;
  height: 80px;
  text-align: center;
  font-size: 8em;
  box-sizing:border-box;
  
}

td:hover{
  cursor:pointer;
}

.empty {
	border: none;
	animation-name: none;
	animation-duration: 1s;
	background-color: transparent;
	background-size: cover;
	background-position: center;
}

.fellowship {
	background-color: transparent;
	background-size: cover;
	background-position: center;
	border: 0;
	animation-name: none;
	animation-duration: 1s;
}

.orc {
	background-color: transparent;
	background-image: url('../assets/images/orc.png');
	background-size: cover;
	background-position: center;
	border: 0;
	animation-name: none;
	animation-duration: 1s;
}

.skull {
	background-color: transparent;
	background-image: url('../assets/images/skull.png');
	background-size: cover;
	background-position: center;
	border: 0;
	animation-name: none;
	animation-duration: 1s;
}

.one-ring {
	margin: 0 auto;
  	border: 0;

	background-color: transparent;
	background-image: url('../assets/images/one-ring.jpg');
	background-size: cover;
	background-position: center;
}

.gondor {
	margin: 0 auto;
  	border: 0;

	background-color: transparent;
	background-image: url('../assets/images/gondor.jpg');
	background-size: cover;
	background-position: center;
}

#null {
	background-image: none;
}
	
#gandalf {
	background-image: url('../assets/images/gandalf_cartoon.png');
}

#frodo {
	background-image: url('../assets/images/frodo.png');
}

#samwise {
	background-image: url('../assets/images/samwise.png');
}

#gimli {
	background-image: url('../assets/images/gimli.png');
}

#strider {
	background-image: url('../assets/images/strider.png');
}

#boromir {
	background-image: url('../assets/images/boromir.png');
}

#legolas {
	background-image: url('../assets/images/legolas.png');
}

#merry {
	background-image: url('../assets/images/meriadoc.png');
}

#pippin {
	background-image: url('../assets/images/pippin.png');
}
